VITE_SUPABASE_URL="https://tsrqfujxzlvelqrggkso.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzcnFmdWp4emx2ZWxxcmdna3NvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMTMwMDksImV4cCI6MjA5OTY4OTAwOX0.gtdssDQghxr4s-uTG6zwgM0aJGMdXY6FZ5l4OiQIcEI"